
ol, ul {
	list-style: none;

}

/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */

.clear {
	clear: both;
}

.Spacer-5 { margin-top: 0px }
.Spacer-10 { margin-top: 10px }
.Spacer-20 { margin-top: 20px }
.Spacer-30 { margin-top: 30px }
.Spacer-40 { margin-top: 40px }
.Spacer-50 { margin-top: 50px }
.Spacer-60 { margin-top: 60px }
.Spacer-70 { margin-top: 70px }
.Spacer-80 { margin-top: 80px }
.Spacer-90 { margin-top: 90px }


.PageHeaderAdr li {
    clear: both;
}

.PageHeaderAdr li:first-child {
    margin-bottom: 7px;
    font-size: 16px;
}

.PageHeaderAdr li span {
    float: left;
    display: block;
}

.PageHeaderAdr li span:first-child {
    width: auto;
    display: block;
    float: left;
    font-weight: bold;
    border-bottom: 1px solid;
}

.LivrBanner h2.Tticket	{
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	color: black;
	margin-bottom: 10px;
}

/* .table thead {
	background-color: #dadada;
	border-bottom: 0;
} 

.table {
	font-size: 13px;
} */


.Badg-row {
    border: 1px solid #444;
    padding: 5px 15px 15px 15px;
    position: relative;
    margin-top: 40px;
    min-height: 230px;
}
.minheight-100{
    min-height: 170px!important;
}
.minheight-400{
    min-height: 500px!important;
}
.Badg-row-signature {
    border: 1px solid #444;
    padding: 5px 15px 15px 15px;
    position: relative;
    margin-top: 40px;
    min-height: 128px;
}

.TitleEntet{
    font-weight: 600;
    font-size: 19px;
    border-bottom: 1px solid;
}

.Badg-row-title {
    font-weight: 600;
    font-size: 19px;
    position: absolute;
    top: -8px;
    left: 8%;
    transform: translateX(-50%);
    background: white;
    border-bottom: 1px solid;
    width: 105px;
}

.Badg-row-title.adress{
    border-bottom: 0px!important;
}


.TableFigure {
	border: 1px solid #ccc;
	margin-top: 5px;
	padding: 15px;
	font-size: 13px;
}

.Badg-row.Badg-Fot-row {
	font-size: 13px;
	height: 125px;
}

.Badg-Fot-row h3 {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0 30px;
    display: block;
    text-align: center;
    min-width: 74%;
}


.footer-row{

	background-color: #e85c28;
    padding: 0px;
}

.footer-row p{color: white;}

.table-ban {
    border-collapse: collapse; border-spacing: 0;
    border: 1px solid #444;
    border-radius: 44px;
    }
.table-ban thead th {border-bottom: 1px solid #333; text-align: center; font-weight: bold;}
.table-ban thead th, .table-ban tbody tr td {padding: 0.25em 2.75em;}

.Frs-row ul  , .Frs-row ul li ,.Scd-row ul  , .Scd-row ul li{
    padding: 0px;
    margin: 0px;
}

.first-child-li {
    width: auto;
    font-weight: bold;
    border-bottom: 1px solid;
}

/*condition*/

.titleCond{
    font-size: 17px;
    font-family: "Montserrat Light";
    font-weight: bold;
    text-decoration: underline;
    line-height: 1; text-align: center; margin-bottom: 0pt;
    text-align: center;
}
.titleconddate{
    font-size:10px;
    text-align: center;
    font-family: "Montserrat Light";
    font-weight: bold;
}

.blocArt .descriptBloc{
    font-family: "Montserrat Light";
    font-size: 8px;
    padding-bottom: 0px;
}

.blocArt .titleBloc{
    font-family: "Montserrat Light";
    font-size: 8px;
    text-decoration: underline;
    padding-bottom: 2px;
}

.blocArt .descriptBloc a{
    color:#8DBAD1
}
.descriptBloc ol{
    margin: 0px!important;
    padding:  0px!important;

}
.blocArt  ul li {
    font-family: "Montserrat Light";
    font-size: 8px;
    padding-left: 12px;
    list-style-type: none;
}
.nbrpage
{float: right;}


.over {
    color: #ffffff;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: #eb5a25;
    font-size: 75px;
    margin-bottom: 69px;
}
.PageHeaderAdr li {
    clear: both;
}

.PageHeaderAdr li:first-child {
    margin-bottom: 7px;
    font-size: 16px;
}

.PageHeaderAdr li span {
    float: left;
    display: block;
}

.PageHeaderAdr li span:first-child {
    width: auto;
    display: block;
    float: left;
    font-weight: bold;
    border-bottom: 1px solid;
}




.Badg-row.Badg-Fot-row {
    font-size: 13px;
    height: 125px;
}

.Badg-Fot-row h3 {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0 30px;
    display: block;
    text-align: center;
    min-width: 74%;
}


.footer-row{

    background-color: #e85c28;
    padding: 10px 30px;
    color: white;
}


p {
    padding-top: 0px!important;
}

.blocenter{
    padding-left: 42px;
}
.bloacborder{
    border: 1px solid;
    margin-bottom: 7px;
    padding: 10px;
}

.borderwidth{
    padding: 4px 4px;
}
.Spacer-60 { margin-top: 60px }

.footer-signature{
   position: fixed;
   left: 0;
   bottom: 0;
    background-color: red;
 
   text-align: center;
}
.EntetTitle{
    font-weight: 600;
}